*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;

}
.display-flex{
    display: flex;
}
.top-banner{
    margin-top:150px;
}
.top-banner p{
    font-size:20px;
}
.color-btn{
    color: #3A678D;
}
.link-btn{
    padding: 20px 40px;
    /* margin-top: 20px; */
    background-color: purple;
    text-decoration: none;
    border-radius:5px;
    color: white;
}
.half-width{
    width: 50%;
}
.half-width p{
    width:100%;
}
.half-width img{
    width: 100%;

}
section{
    margin-top: 50px;
}
.left-banner{
    border-left: 4px solid red;
    padding-left: 15px; 

}
.left-banner h1{
    padding-bottom: 20px;
}
h1{
    font-size:65px;
    font-weight:bold;

}
/* mission part 1 */
.box-shadow1{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin:20px;
    border-radius:20px;
    background-color: rgba(71, 42, 19,0.5);
    padding:25px;
}
.box-shadow1 img{
    width:50%;
    
}
.box-shadow2{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin:20px;
    border-radius:20px;
    background-color: rgba(150, 90, 90, 0.5);
    padding:25px;
    
}
.box-shadow2 img{
    width:50%;
}
.box-shadow3 img{
    width:50%;
}
.box-shadow3{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin:20px;
    background-color: rgba(20, 12, 12, 0.5);
    border-radius:20px;
    padding:25px;
}
.my-mission{
    text-align: center;
    margin-bottom: 50px;
}
/* mission part end*/

/* global-part start */
.global-part {
    margin-top: 100px;
}
.global-part h2 {
    font-size:40px;
    padding:10px 0px;
}

/* global-part end */

/* developer-side start*/
.developer-side{
    margin-top: 70px;
}
.developer-side h2 {
    font-size:40px;
}
.devloper-img{
    background-image: url("images/pictures/dream-bg.png");
    background-repeat: no-repeat;
    /* background-position: right ; */
    
}
/* developer-side end*/

/* corona part start */
.app-picture{
   max-width: 90%;
   height: 65%;
   border-radius:20px;
   box-shadow: 24px 24px 22px 21px rgba(51, 31, 31, 0.5);
    
}
.omicron{
    margin-top:100px;
    height: 80vh;
}
input[type=text],select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  input[type=email],select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: purple;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  input[type=number],select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

  
  input[type=submit]:hover {
    background-color: #3A678D;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
.contact-form{
    box-shadow: 24px 24px 22px 21px rgba(51, 31, 31, 0.5);
    max-width: 100%;
    height:65%;
    border-radius:20px;
    padding:20px
}
  
/* omicron part end */

/* last part start*/
.last-section{
    background-color: black;
    height:200px;
    margin-top:60px;
    align-items: center;
    padding: 60px 0px;
}
.last-section-title {
    text-align: center;
    
}
.last-section-title h1 {
   font-size:30px;
    
}
.last-section-title p{
    margin: 20px 0;
}
.mission1{
    color: #fff;
    font-style: italic;
    font-weight: normal;
}
/* last part end*/